// colors
$invoicedStatus: rgb(19, 212, 19);
$acceptedStatus: rgb(87, 158, 87);
$requestedStatus: rgb(255, 196, 0);
$planningStatus: rgb(0, 255, 149);
$sentStatus: rgb(160, 125, 243);
$canceledStatus: red;
$blueColorButtons: rgb(0, 162, 255);
$headerColor: rgb(36, 36, 36);
$greyColor: rgb(197, 193, 193);
$lightGreyColor: rgb(231, 227, 227);
$whiteColor: white;