@import 'core/variables';

.patients {    
    &__header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        list-style-type: none;
        padding: 10px;

        &--item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--itemButton{
            margin-left: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: none;
            border:none;
            font-size: 8px;
            color: $greyColor;
            cursor: pointer;
            padding: 5px;
        }
    }

    &__patientList {
        list-style-type: none;
    }
}

.fa-sort {
    cursor: pointer;
}